body {
    background-image: url(../public/sfondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/*App*/
footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(51, 48, 48);
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

#textDown:link,
#textDown:visited {
    color: black;
    text-decoration: none;

}

/*AppAreaPersonale*/
#btnMenu {
    background-color: transparent;
    color: #0d6efd;
}

#menu {
    position: fixed;
    top: 56px;
    height: 100%;
    width: 180px;
    z-index: 3;
}

#toolBar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 56px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

#routerview {
    height: 100%;
    width: 100%;
    position: relative;
    top: 45px;
    left: 180px;
    z-index: 1;

}

.dropbtn {
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
}

#prof {
    position: fixed;
    top: 7px;
    right: 5px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0d6efd;
    border-radius: 50px;
}

/*table*/
.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}

/**/
@media screen and (min-width: 992px) {
    #areaPersonaleImg {
        position: absolute;
        right: 0px;
    }
}

#header {
    position: relative;
    top: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width: 1200px) {
    .catenaccio {
        max-width: 1000px;
        position: relative;
        left: 50%;
        right: 50%;
        margin: 100px 0 0 -500px;
    }

    .taglio {
        max-width: 1200px;
        position: relative;
        left: 50%;
        right: 50%;
        margin: 60px 0 0 -600px;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .catenaccio {
        max-width: 1200px;
        text-align: center;
        padding: 10px;
        margin-top: 60px;
    }

    .taglio {
        max-width: 100%;
        text-align: center;
        padding: 10px;
        margin-bottom: 50px;
    }

}

@media screen and (min-width: 505px) {

    html,
    body {
        height: 100%;
    }

    .colonna {
        width: 100%;
        height: 100%;
        padding: 20px;

    }

    .form {
        height: auto;
        width: 250px;
        border: 1px black solid;
        border-radius: 5px;
        padding: 10px;
        background-color: white;
    }

    .formLogin {
        width: 250px;
        position: relative;
        text-align: center;
        left: 50%;
        top: 50%;
        margin: 0 0 0 -125px;
    }
}

@media screen and (min-width: 946px) {

    .contenitor {
        position: relative;
        top: 50px;
        left: 50%;
        width: 600px;
        height: 600px;
        margin: 0 0 0 -480px;
        text-align: center;

    }

    .contenitor2 {
        max-width: 500px;
        height: 500px;
        position: relative;
        top: 50px;
        left: 50px;


    }

    .contenitor3 {
        border: 1px black solid;
        border-radius: 5px;
        padding: 20px;
        text-align: left;

    }

    .progress {
        border: 1px black solid;
    }

    .back {
        background-color: aqua;
        width: 80px;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        top: 5px;
        left: 5px;
    }

    #btnCrea {
        margin-top: 10px;
    }

    #msg {
        position: relative;
    }
}

@media screen and (max-width: 946px) {

    .contenitor {
        position: relative;
        top: 50px;
        max-width: 600px;
        text-align: center;
        margin-right: 20px;



    }

    .contenitor2 {
        width: 80%;
        height: 500px;
        position: relative;
        top: 50px;
        left: 10%;


    }

    .contenitor3 {
        border: 1px black solid;
        width: 100%;
        min-width: 300px;
        border-radius: 5px;
        padding: 20px;
        text-align: left;

    }

    .progress {
        border: 1px black solid;
        margin: 0 10px 0 10px;
        min-width: 340px;
    }

    .back {
        background-color: aqua;
        width: 80px;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        top: 5px;
        left: 5px;
    }

    #btnCrea {
        margin-top: 10px;
    }

    #msg {
        position: relative;
        margin-left: 10px;
    }
}